*{
    box-sizing:border-box;
}
body{
    height: 100vh;
    display: flex;
   
    justify-content:center;
    align-items:center;  
}
[class*="square"]{
    width:100px;
    height: 100px;
    background-color: gray;
    border:1px solid black;
    border-radius: 10px;
    margin:10px;
    display: flex;
    padding:10px;
   
    
}

[class*="round-"]{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    display: flex;   
}
.square-1{
 justify-content: center;   
 align-items: center;
}
.square-2{
    justify-content:space-between;

}
.square-2 .round-3 {
align-self: flex-end;
}


.square-3, .square-4, .square-5, .square-6{
    justify-content: space-between;
}
.square-3 .round-5, .square-5 .round-13{
    align-self: center;
}
.square-3 .round-6{
    align-self: flex-end;
}

 [class*="col"]{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 






